// Place all the styles related to the Urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none;
}

.show {
  display: block;
}

.colorize {
  color: #ff0000;
}

.uncolorize {
  color: #800080;
}
